section {
  display: flex;
  justify-content: space-between;
}

.row-filter-weekdays {
}
mat-chip-option {
  margin-left: 15px;
}
.row-add-buttons {
}
button {
  margin-left: 15px;
  border-radius: 20px !important;
  background-color: #fdd516 !important;
}
.row-filters-categories {
  padding-top: 30px;
}
