.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.alignment {
  display: flex;
  align-items: center;
}

.cover {
  width: 160px;
  object-fit: cover;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}
section {
  overflow-x: auto;
  overflow-y: hidden;
}
