<section>
  <div class="mat-app-background">
    <div class="space-between">
      <div>Beliebteste Band</div>
      <div class="alignment">
        <div mat-icon-button>
          <mat-slide-toggle color="primary">Voting inaktiv</mat-slide-toggle>
        </div>
        <button mat-icon-button (click)="openEditVotingDialog()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteVotingDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="cards-wrapper">
      <div *ngFor="let event of events">
        <app-voting-card [name]="event.title"></app-voting-card>
      </div>
    </div>
  </div>
</section>
