<div class="mat-app-background">
  <div class="space-between">
    <div>Beliebteste Band</div>
    <div class="alignment">
      <div mat-icon-button>
        <mat-slide-toggle>Voting inaktiv</mat-slide-toggle>
      </div>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-holder">
    <mat-card class="card">hi</mat-card>
    <mat-card class="card">hello </mat-card>
  </div>
</div>
