<div class="mat-app-background">
  <div class="space-between">
    <div>Beliebteste Band</div>
    <div class="alignment">
      <div mat-icon-button>
        <mat-slide-toggle>Voting inaktiv</mat-slide-toggle>
      </div>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="cards-wrapper">
    <div>
      <app-voting-card
        name="Beste Band"
        text="Lorem ipsum dolor sit amet."></app-voting-card>
    </div>
    <div>
      <app-voting-card
        name="Beste Band"
        text="Lorem ipsum dolor sit amet."></app-voting-card>
    </div>
  </div>
</div>
