<section>
  <div class="form">
    <form [formGroup]="eventFormGroup">
      <div class="col-1">
        <mat-form-field appearance="fill">
          <mat-label>Titel</mat-label>
          <input formControlName="title" matInput placeholder="Titel" />
        </mat-form-field>
      </div>

      <div class="col-1">
        <mat-form-field appearance="fill">
          <mat-label>Beschreibung</mat-label>
          <input
            formControlName="description"
            matInput
            placeholder="Beschreibung" />
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field appearance="fill">
          <mat-label>Standort</mat-label>
          <mat-select
            [(value)]="location"
            required
            formControlName="location"
            [compareWith]="compareObjects">
            <mat-option *ngFor="let location of locations" [value]="location">
              {{ location.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Kategorie</mat-label>
          <mat-select
            [(value)]="category"
            required
            formControlName="category"
            [compareWith]="compareObjects">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field>
          <mat-label>Start</mat-label>
          <input
            [disabled]="false"
            [ngxMatDatetimePicker]="picker"
            formControlName="startDateTime"
            matInput
            placeholder="Start" />
          <mat-datepicker-toggle
            [for]="$any(picker)"
            matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [disableMinute]="false"
            [enableMeridian]="false"
            [hideTime]="false"
            [showSeconds]="false"
            [showSpinners]="true"
            [stepHour]="1"
            [stepMinute]="1"
            [touchUi]="false">
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ende</mat-label>
          <input
            [disabled]="false"
            [ngxMatDatetimePicker]="picker2"
            formControlName="endDateTime"
            matInput
            placeholder="Ende" />
          <mat-datepicker-toggle
            [for]="$any(picker2)"
            matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker2
            [disableMinute]="false"
            [enableMeridian]="false"
            [hideTime]="false"
            [showSeconds]="false"
            [showSpinners]="true"
            [stepHour]="1"
            [stepMinute]="1"
            [touchUi]="false">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>

      <div class="upload-title">
        <h4>Titelbild*</h4>
        <h4>Weitere Fotos</h4>
      </div>

      <div class="file-inputs">
        <div *ngFor="let item of [].constructor(4); let i = index">
          <button
            (click)="openFileSelectDialog(i)"
            class="upload-btn"
            mat-flat-button>
            <div *ngIf="!addPicturesList[i] && filePaths[i] == null">
              <mat-icon>upload</mat-icon>
            </div>
            <div *ngIf="!addPicturesList[i] && filePaths[i] == null">
              {{ i == 0 ? 'Titelbild' : 'Foto' }}
            </div>
            <img
              *ngIf="addPicturesList[i]"
              [src]="filePreviews[i]"
              alt="{{ addPicturesList[i]?.name }}"
              class="preview" />
            <img
              *ngIf="filePaths[i] != null"
              class="preview"
              src="{{ filePaths[i] }}" />
          </button>
          <input
            (change)="onFileSelected($event, i)"
            accept=".png,.jpeg,.jpg"
            formControlName="file{{ i }}"
            id="file-input{{ i }}"
            style="display: none"
            type="file" />
          <div class="file-info">
            <button
              (click)="removeFile(i)"
              *ngIf="addPicturesList[i]"
              mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
            <div *ngIf="fileNames[i] == null" class="file-name">
              {{ addPicturesList[i]?.name ?? 'Keine Datei' }}
            </div>
            <div *ngIf="fileNames[i] != null" class="file-name">
              {{ fileNames[i] }}
            </div>
          </div>
        </div>
      </div>

      <mat-hint>Nur .PNG, .JPG, .JPEG - max. 2MB</mat-hint>
    </form>

    <div class="center">
      <div>
        <button
          (click)="cancel()"
          class="btn btn-secondary form-btn"
          mat-button>
          Abbrechen
        </button>
        <button
          (click)="submit()"
          class="btn btn-primary form-btn"
          mat-button
          [disabled]="eventFormGroup.invalid">
          Speichern
        </button>
      </div>
    </div>
  </div>
</section>
