<div class="center">
  <h1 mat-dialog-title>Kategorien bearbeiten</h1>
</div>
<div mat-dialog-content>
  <div class="two-even-col">
    <section class="left-align">
      <ul>
        <div *ngFor="let name of categories" class="list-item two-col">
          <li>{{ name }}</li>
          <button (click)="removeCategory(name)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ul>
    </section>

    <section class="center">
      <form [formGroup]="categoriesFormGroup">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="categoryName" matInput placeholder="Name" />
          </mat-form-field>
        </div>
        <div class="center">
          <button
            (click)="addCategory()"
            class="btn btn-primary"
            mat-raised-button>
            Hinzufügen
          </button>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="center" mat-dialog-actions>
  <button class="btn btn-secondary" mat-dialog-close="true" mat-raised-button>
    Schließen
  </button>
</div>
