button {
  border-radius: 20px !important;
  background-color: #fdd516 !important;
}

.btn-secondary {
  background-color: lightgray !important;
}

.btn-row {
  margin-top: 2rem;
}

.form {
  margin-top: 2rem;
}
