<main>
  
  <div class="form">
    <form [formGroup]="loginFormGroup">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="Deine E-Mail-Adresse" formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Passwort</mat-label>
          <input matInput placeholder="Passwort" type="password" formControlName="password">
        </mat-form-field>
      </div>
    </form>

    <button (click)="login()" mat-raised-button [disabled]="!loginFormGroup.valid">Login</button>
    <button (click)="onBtnClick()" mat-raised-button [disabled]="!loginFormGroup.valid">Voting hinzufügen</button>
    <li class="nav-item">
      <nav>
        <a class="nav-link" href="#" routerLink="/voting" routerLinkActive="active">Home</a>
      </nav>
    </li>
  </div>


</main>