<main>
  <section>
    <div>
      <mat-chip-list>
        <mat-chip-option>Freitag Datum</mat-chip-option>
        <mat-chip-option>Samstag Datum</mat-chip-option>
        <mat-chip-option>Sonntag Datum</mat-chip-option>
      </mat-chip-list>
    </div>
    <div>
      <button
        (click)="openDialogToEditCategory()"
        class="btn btn-secondary"
        mat-raised-button>
        <mat-icon>edit</mat-icon>
        Kategorien
      </button>

      <button
        (click)="goToAddEvent()"
        class="btn btn-primary"
        mat-raised-button>
        <mat-icon>add</mat-icon>
        Event
      </button>
    </div>
  </section>

  <section class="row-filters-categories">
    <div>
      <mat-chip-list>
        <mat-chip-option
          (click)="toggleChip(chip.name)"
          *ngFor="let chip of categoryFilters">
          {{ chip.name }}
        </mat-chip-option>
      </mat-chip-list>
    </div>
  </section>
</main>
