<div class="card-holder">
  <mat-card class="card">
    <input
      type="text"
      [(ngModel)]="name"
      placeholder="Title"
      style="padding: 2px; background: #fff8eb; border: none" />
    <img src="favicon.ico" height="80px" class="cover" />
    <textarea
      [(ngModel)]="text"
      placeholder="Text"
      style="
        min-height: 80px;
        background: #fff8eb;
        padding: 2px;
        border: none;
      "></textarea>
    <div class="flex alignment">
      <button mat-raised-button class="btn btn-primary" (click)="deleteCard()">
        Löschen
      </button>
      <p>Stimmen:</p>
    </div>
  </mat-card>
</div>
