.card-holder {
  display: flex;
  flex-direction: row;
}

.card {
  margin: 0.5rem;
  background-color: #fdfdfb;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex {
  display: flex;
}

.alignment {
  justify-content: space-between;
  align-items: baseline;
}

button {
  margin-top: 20px;
}

mat-card-header {
  font-weight: bold;
  font-size: 18px;
}
