.card-holder {
  display: flex;
}

.card {
  margin: 0.5rem;
  background-color: #fff8eb;
  height: 240px;
  width: 200px;
}

.flex {
  display: flex;
}

.alignment {
  justify-content: space-between;
  align-items: baseline;
}

.button {
  margin-left: 15px;
  border-radius: 20px !important;
  background-color: #fdd516 !important;
}
