<h1 mat-dialog-title>Löschen?</h1>
<div mat-dialog-content>
  <p>Wollen Sie das Feld wirklich löschen?</p>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end">
  <button
    mat-raised-button
    mat-button-rounded
    color="default"
    (click)="onCancelClick()"
    style="margin-right: 10px; border-radius: 50px">
    Abbrechen
  </button>
  <button
    mat-raised-button
    mat-button-rounded
    color="warn"
    (click)="onDeleteClick()"
    style="
      margin-left: 10px;
      border-radius: 50px;
      background-color: #fdd516;
      color: black;
    ">
    Löschen
  </button>
</div>
