.playlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.track img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.track h3 {
  font-size: 16px;
  margin: 0;
}
