<div *ngIf="playlist" class="playlist-container">
  <h3>{{ playlist.title }}</h3>
  <iframe
    style="border-radius: 12px"
    [src]="
      'https://open.spotify.com/embed/playlist/' + playlist.spotifyPlaylistId
        | safeUrl
    "
    width="100%"
    height="352"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy">
  </iframe>
</div>

<div class="add-playlist-form">
  <h3>{{ playlist ? 'Update Playlist' : 'Add a New Playlist' }}</h3>
  <input
    type="text"
    [(ngModel)]="newPlaylistTitle"
    placeholder="Enter Playlist Title"
    class="input-field" />
  <input
    type="text"
    [(ngModel)]="newPlaylistUrl"
    placeholder="Enter Spotify Playlist URL"
    class="input-field" />
  <button (click)="addOrUpdatePlaylist()" class="add-button">
    {{ playlist ? 'Update' : 'Add' }} Playlist
  </button>
</div>
