<main>
  <section class="center">
    <section *ngIf="isLoading; else content">
      <mat-progress-spinner
        diameter="50"
        mode="indeterminate"
        strokeWidth="3"></mat-progress-spinner>
    </section>
    <ng-template #content>
      <div *ngIf="events?.length == 0">Keine Events vorhanden.</div>
      <div *ngIf="events">
        <mat-card *ngFor="let event of events" class="program-item">
          <div class="picture">
            <img
              *ngIf="event?.picture?.path != ''"
              alt="{{ event?.picture?.altText }}"
              class="picture"
              mat-card-image
              src="{{ event?.picture?.path }}" />
          </div>
          <mat-card-header>
            <mat-card-title>
              {{ event.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ event.eventInfo.infoText }}
              <div>
                <mat-chip
                  *ngIf="event.eventCategory.name != ''"
                  class="category-chip"
                  matTooltip="Kategorie">
                  {{ event?.eventCategory?.name }}
                </mat-chip>
                <mat-chip
                  *ngIf="event.eventLocation.name != ''"
                  class="location-chip"
                  matTooltip="Ort">
                  {{ event?.eventLocation?.name }}
                </mat-chip>
                <mat-chip
                  *ngIf="event.eventInfo.pictures.length != 0"
                  class="image-chip"
                  matTooltip="Fotos">
                  <mat-icon>photo</mat-icon>
                  <span
                    matBadge="{{ event.eventInfo.pictures.length }}"
                    matBadgeColor="primary"
                    matBadgePosition="after"
                    matBadgeSize="small">
                  </span>
                </mat-chip>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <span
                *ngIf="
                  this.checkIfSameDate(
                    event.startDateTimeInUTC,
                    event.endDateTimeInUTC
                  )
                ">
                {{
                  this.displayTime(
                    event.startDateTimeInUTC,
                    event.endDateTimeInUTC
                  ) | date : 'dd.MM.'
                }}
              </span>
              <span
                *ngIf="
                  !this.checkIfSameDate(
                    event.startDateTimeInUTC,
                    event.endDateTimeInUTC
                  )
                ">
                {{
                  this.dateConverterService.getDateFromTimestamp(
                    event.startDateTimeInUTC
                  ) | date : 'dd.'
                }}
                -
                {{
                  this.dateConverterService.getDateFromTimestamp(
                    event.endDateTimeInUTC
                  ) | date : 'dd.MM.'
                }}
              </span>
            </div>
          </mat-card-content>

          <div>
            {{
              this.dateConverterService.getDateFromTimestamp(
                event.startDateTimeInUTC
              ) | date : 'HH:mm'
            }}
            -
            {{
              this.dateConverterService.getDateFromTimestamp(
                event.endDateTimeInUTC
              ) | date : 'HH:mm'
            }}
          </div>
          <mat-card-actions>
            <button
              disabled="true"
              mat-icon-button
              routerLink="/program/edit/{{ event?.eventId }}">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button (click)="openDeleteEventDialog(event)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </section>
</main>
