.program-item {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  background-color: #fdfdfb;
  height: 5rem;
  border-radius: 20px;
}

.picture {
  border-radius: 20px 0 0 20px !important;
  height: 5rem;
  width: 5rem;
}
