<main>
  <section class="center">
    <div>
      <mat-card *ngFor="let event of events" class="program-item">
        <img
          alt="{{ event.image.title }}"
          class="picture"
          mat-card-image
          src="{{ event.image.path }}" />

        <mat-card-header>
          <mat-card-title>{{ event.title }}</mat-card-title>
          <mat-card-subtitle>{{ event.eventLocation.name }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="time"
          >{{
            getDateFromUTC(event?.startDateTimeUTC) | date : 'dd.MM.yyyy HH:mm'
          }}
          bis
          {{
            getDateFromUTC(event?.endDateTimeUTC) | date : 'dd.MM.yyyy HH:mm'
          }}</mat-card-content
        >
        <mat-card-actions>
          <button
            [disabled]="!event.isEditable"
            mat-icon-button
            routerLink="/program/edit/{{ event.id }}">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button (click)="openDeleteDialog(event.id)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</main>
