<main>
  <section class="center">
    <div *ngIf="events?.length == 0">Keine Events vorhanden.</div>
    <div>
      <mat-card *ngFor="let event of events" class="program-item">
        <img
          alt="{{ event?.picture?.altText }}"
          class="picture"
          mat-card-image
          src="{{ event?.picture?.path }}" />

        <mat-card-header>
          <mat-card-title>{{ event?.title }}</mat-card-title>
          <mat-card-subtitle>{{
            event?.eventLocation?.name
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="time"
          >{{
            getDateFromUTC(event?.startDateTimeInUTC)
              | date : 'dd.MM.yyyy HH:mm'
          }}
          bis
          {{
            getDateFromUTC(event?.endDateTimeInUTC) | date : 'dd.MM.yyyy HH:mm'
          }}</mat-card-content
        >
        <mat-card-actions>
          <button
            mat-icon-button
            routerLink="/program/edit/{{ event?.eventId }}">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button
            (click)="openDeleteEventDialog(event.eventId, event.title)"
            mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</main>
