<div *ngIf="votingList?.length === 0">Keine Votings vorhanden.</div>
<div class="mat-app-background" *ngFor="let voting of votingList">
  <section>
    <div>
      <div class="space-between">
        <div>{{ voting.title }}</div>
        <div class="alignment">
          <div>
            <mat-slide-toggle color="primary" (click)="toggleButton()">{{
              voting.active ? 'Voting aktiv' : 'Voting inaktiv'
            }}</mat-slide-toggle>
          </div>
          <button
            mat-icon-button
            (click)="openEditVotingDialog(voting.votingId)"
            [disabled]="isActive">
            <!--            [disabled]="!voting.isEditable || voting.isActive || isActive">            -->
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="openDeleteVotingDialog(voting.votingId)"
            [disabled]="voting.active">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div id="alert-container" style="display: none; text-align: center"></div>
      <div class="overflow-auto">
        <app-voting-element [events]="voting.events"></app-voting-element>
      </div>
    </div>
  </section>
</div>
