.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.alignment {
  display: flex;
  align-items: center;
}

.overflow-auto {
  width: 95vw;
  overflow: auto;
}

section {
  margin-bottom: 40px;
  overflow-y: hidden;
}
