<div mat-dialog-content>
  <div class="col-2e">
    <section class="scroll-container left-align">
      <ul>
        <div *ngIf="itemList?.length == 0">Keine Elemente vorhanden.</div>
        <div *ngFor="let item of itemList" class="list-item col-2">
          <li>{{ item.name }}</li>
          <button
            (click)="removeItem(item)"
            mat-icon-button
            tabindex="-1"
            [disabled]="item.isInUse">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ul>
    </section>

    <section class="center">
      <form [formGroup]="itemFormGroup">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Name"
              tabindex="0" />
          </mat-form-field>
        </div>
        <div class="center">
          <button (click)="addItem()" class="btn btn-primary" mat-raised-button>
            Hinzufügen
          </button>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="center" mat-dialog-actions>
  <section>
    <button class="btn btn-secondary" mat-dialog-close="true" mat-raised-button>
      Abbrechen
    </button>
    <button
      (click)="saveItemList()"
      class="btn btn-primary"
      mat-dialog-close="true"
      mat-raised-button>
      Speichern
    </button>
  </section>
</div>
