.highlight-upload-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}

.highlight-upload-entry {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  width: 300px;
}
input,
button {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: yellow;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: gold;
}

.highlight-upload-component-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.highlight-upload-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}

.highlight-text-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.highlight-label {
  color: gray;
  font-size: small;
}
