<div class="highlight-upload-head">
  <h3>Highlight hinzufügen / entfernen</h3>
  <div class="highlight-upload-entry">
    <input type="file" (change)="onFileSelected($event)" />

    <input
      type="text"
      [(ngModel)]="fileToUpload.altText"
      placeholder="Alt-Text" />
    <input
      type="text"
      [(ngModel)]="fileToUpload.description"
      placeholder="Beschreibung" />

    <button (click)="uploadFile()">Datei hochladen</button>
  </div>
</div>
<div class="highlight-upload-component-wrapper">
  <div
    *ngFor="let fileEntry of existingFiles; let i = index"
    style="
      margin-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    ">
    <div class="highlight-upload-entry">
      <div *ngIf="fileEntry.path">
        <div *ngIf="isVideo(fileEntry.path)">
          <video width="300" controls>
            <source [src]="fileEntry.path" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div *ngIf="!isVideo(fileEntry.path)">
          <img
            [src]="fileEntry.path"
            alt="Image preview"
            style="
              max-width: 300px;
              border-radius: 8px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            " />
        </div>
      </div>

      <div class="highlight-text-field">
        <label class="highlight-label">Alternativtext</label>
        <span>{{ fileEntry.altText }}</span>
        <label class="highlight-label">Beschreibung</label>
        <span>{{ fileEntry.description }}</span>
      </div>
      <button (click)="removeFileEntry(i)">Entfernen</button>
    </div>
  </div>
</div>
