<h1 mat-dialog-title>Voting hinzufügen</h1>

<div mat-dialog-content class="wrapper-for-divs">
  <div>
    <form [formGroup]="addEditFormGroup">
      <mat-form-field class="no-padding" appearance="fill">
        <mat-label>Name des Votings</mat-label>
        <input matInput formControlName="votingName" />

        <mat-hint>Name des Votings</mat-hint>
      </mat-form-field>

      <p>Teilnehmer hinzufügen</p>
      <mat-form-field class="no-padding" appearance="fill">
        <mat-label>Teilnehmer</mat-label>
        <!-- Placeholder innen-->
        <input matInput formControlName="participant" />

        <mat-hint>Teilnehmer</mat-hint>
      </mat-form-field>
      <!--button für Teilnehmer hinzufügen-->
    </form>
  </div>

  <div *ngFor="let string of listOfStrings">
    <div>
      {{ string }}
      <mat-icon>delete</mat-icon>
    </div>
    <br />
  </div>
</div>

<!--  here are the action buttons with cancel the dialog simply closes and with save
there is normally the rest call-->
<div mat-dialog-actions>
  <button mat-dialog-close="true" mat-button-rounded mat-raised-button 
  style="margin-right: 10px; border-radius: 50px">Abbrechen</button>
  <button mat-raised-button mat-button-rounded color="warn" (click)="sendDataToRest()" 
  style="
  margin-left: 10px;
  border-radius: 50px;
  background-color: #fdd516;
  color: black;
">Speichern</button>
</div>
