<div class="center">
  <h1 mat-dialog-title>Voting hinzufügen</h1>
</div>

<div mat-dialog-content class="wrapper-for-divs">
  <div>
    <section class="center"></section>
    <form [formGroup]="addEditFormGroup">
      <mat-form-field class="center" appearance="fill">
        <mat-label>Name des Votings</mat-label>
        <input matInput formControlName="votingName" />

        <mat-hint>Name des Votings</mat-hint>
      </mat-form-field>

      <div class="left-align">
        <h1 mat-dialog-title>Teilnehmer hinzufügen</h1>
      </div>
      <!--button für Teilnehmer hinzufügen-->
      <section class="center">
        <form [formGroup]="itemFormGroup">
          <div>
            <mat-form-field appearance="fill">
              <input formControlName="name" matInput placeholder="Teilnehmer" tabindex="0" />
            </mat-form-field>
          </div>
          <mat-label>Teilnehmer</mat-label>
          <div class="center">
            <button (click)="addToList()"class="btn btn-primary" mat-raised-button> Hinzufügen </button>
          </div>
        </form>
      </section>
    </form>
  </div>

  <div>
    <div mat-dialog-content>
      <div class="two-even-col">
        <section class="left-align">
          <ul>
            <div *ngFor="let name of listOfBands" class="list-item two-col">
              <li>{{ name }}</li>
              <button (click)="removeFromList(name)" mat-icon-button tabindex="-1">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <br/>
</div>

<!--  here are the action buttons with cancel the dialog simply closes and with save
there is normally the rest call-->

<div class="center" mat-dialog-actions>
  <section>
    <button class="btn btn-secondary" mat-dialog-close="true" mat-raised-button> Abbrechen </button>
    <button (click)="saveCategories()" class="btn btn-primary" mat-dialog-close="true" mat-raised-button> Speichern </button>
  </section>
</div>
