.wrapper-for-divs {
  display: flex;
}

.great-box {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: gray;
}

/*.alignleft {*/
/*  float: left;*/
/*  display: block;*/
/*  text-align: left;*/
/*  width: 48%;*/

/*}*/

.box-with-participants {
  background-color: gray;
  width: 200px;
  height: 200px;
}
