.wrapper-for-divs {
  display: flex;
}

.great-box {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: gray;
}


.box-with-participants {
  background-color: gray;
  width: 200px;
  height: 200px;
}

