<mat-toolbar color="primary">
  <a class="logo-container" routerLink="/program">
    <mat-icon class="logo" svgIcon="logo"></mat-icon>
  </a>
  <div class="left-buttons">
    <button mat-button routerLink="/program" routerLinkActive="active-link">
      Program
    </button>
    <button mat-button routerLink="/voting" routerLinkActive="active-link">
      Voting
    </button>
  </div>
  <div class="spacer"></div>
  <button class="logout-button" mat-button routerLink="/">Logout</button>
</mat-toolbar>
