<mat-toolbar color="primary">
  <a class="logo-container" routerLink="/program">
    <mat-icon class="logo" svgIcon="logo"></mat-icon>
  </a>
  <div class="left-buttons">
    <button mat-button routerLink="/program" routerLinkActive="active-link">
      Programm
    </button>
    <button mat-button routerLink="/voting" routerLinkActive="active-link">
      Voting
    </button>
  </div>
  <div class="spacer"></div>
  <ng-container *ngIf="auth.isAuthenticated$ | async">
    <button mat-button (click)="logout()">
      Abmelden
    </button>
  </ng-container>
</mat-toolbar>
