/* You can add global styles to this file, and also import other style files */

html,
body {
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

main {
  margin: 40px auto 0 auto;
  width: 95%;
}

section {
  display: flex;
  justify-content: space-between;
}

/* buttons */
button {
  border-radius: 20px !important;
}

.btn:not(mat-chip-option) {
  padding: 1rem !important;
}

.btn:not(:first-of-type) {
  margin-left: 0.5rem;
}

.btn:not(:last-of-type) {
  margin-right: 0.5rem;
}

.btn-primary {
  background-color: #fed513 !important;
}

.btn-secondary {
  background-color: lightgray !important;
}

/* input field background */
.mat-mdc-text-field-wrapper {
  background-color: #fff9dc !important;
}
