<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="stylesheet" href="video.component.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro-Video hochladen</title>
    <script type="text/javascript" src="./video.component.js"></script>
  </head>
  <body>
    <h2>Intro-Video hochladen</h2>
    <div class="video-upload-entry">
      <input type="file" (change)="onFileSelected($event)" />
      <div *ngIf="formSubmitted && !fileEntry.file" style="color: red">
        Bitte wählen Sie ein Video aus.
      </div>

      <textarea
        [(ngModel)]="fileEntry.altText"
        type="text"
        id="altText"
        name="altText"
        maxlength="500"
        placeholder="Alternativtext"
        required></textarea>
      <small>{{ fileEntry.altText.length || 0 }}/500</small>
      <div
        *ngIf="formSubmitted && !fileEntry.altText.trim()"
        style="color: red">
        Alternativtext ist erforderlich.
      </div>

      <button (click)="uploadVideo($event)">Hochladen</button>
    </div>

    <div *ngIf="video?.path">
      <video controls>
        <source [src]="video.path" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </body>
</html>
