.one-col {
  display: grid;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}
