<section>
  <div class="form">
    <form [formGroup]="eventFormGroup">
      <div class="one-col">
        <mat-form-field appearance="fill">
          <mat-label>Titel</mat-label>
          <input formControlName="title" matInput placeholder="Titel" />
        </mat-form-field>
      </div>

      <div class="one-col">
        <mat-form-field appearance="fill">
          <mat-label>Beschreibung</mat-label>
          <input
            formControlName="description"
            matInput
            placeholder="Beschreibung" />
        </mat-form-field>
      </div>

      <div class="two-col">
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <mat-select [(value)]="location">
            <mat-option [value]="1">Location</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Kategorie</mat-label>
          <mat-select [(value)]="category">
            <mat-option [value]="1">Musik</mat-option>
            <mat-option [value]="2">Tattoo</mat-option>
            <mat-option [value]="3">Ausfahrten</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="three-col">
        <mat-form-field appearance="fill">
          <mat-label>Datum</mat-label>
          <mat-select [(value)]="date">
            <mat-option [value]="1">Freitag, XX.XX.XXXX</mat-option>
            <mat-option [value]="2">Samstag, XX.XX.XXXX</mat-option>
            <mat-option [value]="3">Sonntag, XX.XX.XXXX</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Startzeit</mat-label>
          <input
            [value]="startTime"
            formControlName="startTime"
            matInput
            placeholder="Startzeit" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Endzeit</mat-label>
          <input
            [value]="endTime"
            formControlName="endTime"
            matInput
            placeholder="Endzeit" />
        </mat-form-field>
      </div>
    </form>

    <div>
      <button (click)="cancel()" class="btn btn-secondary" mat-button>
        Abbrechen
      </button>
      <button
        (click)="submit()"
        [disabled]="!eventFormGroup.valid"
        class="btn btn-primary"
        mat-button>
        Speichern
      </button>
    </div>
  </div>
</section>
