.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one-col {
  display: grid;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}

.upload-btn {
  background-color: #fff9dc !important;
  height: 7rem !important;
  width: 10rem !important;
  border-radius: 0 !important;
  margin-bottom: 1rem;
}

.form-btn {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

mat-hint {
  color: grey;
}
