<div class="card-holder">
  <mat-card class="card center">
    <mat-chip
      *ngIf="
        voting?.votingResult?.partialResults?.length != undefined &&
        getEventWithMostVotes(event?.title)
      "
      class="btn-primary center">
      <mat-icon>emoji_events</mat-icon>
    </mat-chip>
    <mat-card-header>{{ event?.title }}</mat-card-header>
    <mat-card-content
      *ngIf="voting?.votingResult?.partialResults?.length != undefined">
      <p>Stimmen: {{ getVotes(event?.title) }}</p>
    </mat-card-content>
  </mat-card>
</div>
