.program-view {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  background-color: #fffbfe;

  /*justify-content: center;
*/
}

#picture {
  object-fit: cover;
  object-position: left;
  height: 10%;
  width: 10%;
  margin: 0;
  padding: 0;
}

#actions {
  justify-content: center;
}

#time {
  display: flex;
  justify-content: center;
  margin: 35px;
}
