<main>
  <section>
    <div>
      <mat-card class="program-view" fxLayout="row" fxLayoutAlign="flex">
        <img
          mat-card-image
          id="picture"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />

        <mat-card-header>
          <mat-card-title>EVENT</mat-card-title>
        </mat-card-header>

        <mat-card-content>Stage</mat-card-content>

        <mat-card-actions id="actions" fxLayoutAlign="end">
          <button mat-icon-button>
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <br />

      <mat-card class="program-view" fxLayout="row">
        <img
          mat-card-image
          id="picture"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-card-header>
          <mat-card-title>EVENT</mat-card-title>
        </mat-card-header>

        <mat-card-content>Stage</mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button>
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <br />

      <mat-card class="program-view">
        <img
          mat-card-image
          id="picture"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />

        <mat-card-header>
          <mat-card-title>EVENT</mat-card-title>
        </mat-card-header>

        <mat-card-subtitle>Stage</mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-icon-button>
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <br />

      <mat-card class="program-view">
        <img />
        <mat-card-header>
          <mat-card-title>EVENT</mat-card-title>
        </mat-card-header>

        <mat-card-content>Stage</mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button>
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</main>
